@keyframes slide-in-left {
  0% {
    transform: translateX(-200px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
.symtoms {
  color: var(--color-deepskyblue);
}
.header,
.input-symptom-1 {
  align-self: stretch;
  position: relative;
  
}
.header {
  padding-top: 2rem;
  font-weight: 600;
  display: inline-block;
  height: 29px;
  flex-shrink: 0;
}
.input-symptom-1 {
  border: 0;
  background-color: transparent;
}
.symptom-fields {
  margin-top: 1rem;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  padding: var(--padding-xl) 0;
  align-items: center;
  justify-content: center;
  gap: 35px;
}
.check-result {
  font-size: 18px;
  font-weight: 600;
  font-family: var(--font-inter);
  color: var(--color-white);
  text-align: center;
}
.check-result-button {
  cursor: pointer;
  margin: 15px auto 0;
  border: 0;
  padding: 12px 30px;
  background-color: var(--color-deepskyblue);
  border-radius: 15px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.result {
  position: relative;
  font-weight: 500;
}
.result-container {
  border: 0;
  display: inline;
  background-color: rgba(119, 196, 242, 0.29);
  align-self: stretch;
  position: relative;
  border-radius: 5px;
  padding-right: 2rem;
  padding-left: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-family: Poppins,sans-serif;
  min-height: 200px;
  font-size: 12px;
  font-weight: 500;
  color: #0a2c48;
}
.result-field,
.right-section {
  display: flex;
  flex-direction: column;
}
.result-field {
  margin-top: 2rem;
  align-self: stretch;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 20px;
  font-size: var(--font-size-xl);
  color: var(--color-gray);
}
.right-section {
  position: absolute;
  display: inline; 
  width: 45.34%;
  margin-left: 45rem;
  margin-top: 5rem;
  border-radius: 20px;
  background-color: var(--color-white);
  overflow: hidden;
  padding: var(--padding-xl) 62px 15px;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  gap: 29px;
}

.a-disease-predictor,
.bytecare {
  position: absolute;
  display: inline-block;
}
.bytecare {
  top: 0;
  left: 0;
  font-weight: 600;
  width: 224px;
  height: 64px;
}
.a-disease-predictor {
  top: calc(50% + 4px);
  left: calc(50% - 193px);
  font-size: var(--font-size-xl);
  color: var(--color-gray);
  width: 426px;
}
.left-section-content {
  position: relative;
  width: 466px;
  height: 152px;
}
.left-section-image {
  position: relative;
  width: 668.76px;
  height: 797px;
  object-fit: cover;
}
.left-section {
  position: absolute;
  bottom: -4px;
  left: -0.45px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 100px;
  font-size: 42px;
  color: var(--color-deepskyblue);
}
.byte-care-page {
  background: linear-gradient(
      rgba(119, 196, 242, 0.07),
      rgba(119, 196, 242, 0.07)
    ),
    #fff;
  width: 100%;
  height: 1085px;
  opacity: 0;
  text-align: left;
  font-size: 24px;
  color: #000;
  font-family: var(--font-inter);
}
.byte-care-page.animate {
  animation: 0.25s ease 0s 1 normal forwards slide-in-left;
}
